form {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

label {
   font-size: 1.5rem;
   margin-right: 5rem;
   cursor: pointer;
   margin-top: 1.25rem;
}

input {
   font-size: 1.5rem;
   background-color: transparent;
   outline: none;
   outline-style: none;
   margin-top: 1.25rem;
   border: none;
   border-bottom: solid #555 1px;
}

.invalid {
   border-bottom: solid red 2px;
}

.valid {
   border-bottom: solid green 2px;
}

form .btns {
   margin-top: 4rem;
   grid-column: span 2;
}

form button:disabled {
   background-color: #BBB;
}

.main {
  height: 100vh;
  width: 80vw;
  background-color: #E5E5E5;
  margin: 0 auto;
}

.red-line {
  background-color: #FF7878;
  height: 3rem;
  width: 80vw;
  position: absolute;
}

.bot {
  bottom: 0;
}

.content {
  display: grid;
  justify-content: center;
}

.content h1 {
  display: block;
  margin-top: 5rem;
  font-size: 3rem;
  width: 100%;
  text-align: center;
}

.text {
  font-size: 1.75rem;
  margin: 2rem 2rem;
}

.btns {
  display: grid;
  margin-top: 0rem;
  grid-template-columns: repeat(3, 1fr);
}

button { cursor: pointer; }
button:disabled { cursor: default; }

.btn {
  justify-self: center;
  font-size: 1.5rem;
  border-radius: 0;
  border: 0;
  background-color: #FF7878;
  height: 2.5rem;
  padding: 1rem;
  line-height: 0rem;
  width: fit-content;
}

.btn:hover {
  background-color: #BBB;
}