<div class="content">
   <h1>Salon fryzjerski</h1>
   <div class="text">Po wejściu do naszego salonu od razu czuć gościnną atmosferę; tę energię, która powoduje, że każdy tu się fantastycznie odnajduje. Wychodzimy z założenia, że cenionego salonu fryzjerskiego nie tworzy miejsce, tylko ludzie, dlatego nasza ekipa to starannie dobrane osoby, które tworzą wspólną zgraną całość. Nasi styliści, to świetni fachowcy - mają wyobraźnie, kreatywność i dobry warsztat. Odwiedź jeden z naszych salonów i poczuj ten wyjątkowy klimat!</div>
   <div class="btns">
     <button class="btn" routerLink="/login">Zaloguj</button>
     <button class="btn" routerLink="/register">Rejestruj</button>
   </div>
 </div>