<div class="content">
   <h1>Wybierz termin i usługę dla klienta</h1>
   <div class="grey_list">
      <form [formGroup]="visitFormA" (ngSubmit)="submitHandler()">
         <label>Imię</label>
         <input type="text" id="name" formControlName="name">
         <label>Nazwisko</label>
         <input type="text" id="lastname" formControlName="lastname">
         <label>Telefon</label>
         <input type="text" id="phone" formControlName="phone"><br>
      
         <label>Godzina</label>
         <input type="time" id="time" formControlName="hour">
         <label>Data</label>
         <input type="date" id="date" formControlName="date">
      
         <div class="lighter">

            <div *ngFor="let service of services; let i = index">
               <label for="s{{ service.ServiceeId }}">
                  <input id="s{{ service.ServiceeId }}" [value] = 'service.ServiceeId' type="radio" formControlName="type">
                  {{ services[i].Name }} {{ services[i].Price }} zł
               </label>
            </div>

         </div>
         <div class="div_buttons">
            <button class="btn" routerLink="/makeuservisit">Umów wizytę</button>
            <button class="btn" routerLink="/adminpanel">Wstecz</button>
         </div>
      </form>
   </div>
</div>