.calendar table {
    text-align: center;
    width: 100%;
    height: 300px;
}
.nameDay {
    width: 14.28%;
}

.day {
    width: 14.28%;
    cursor: pointer;
}

.day:hover {
    background-color: #198754;
    color: black;
}

.date-nav {
    display: flex;
    justify-content: space-around;
}

.date-nav > p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.date-nav > button {
    background-color: rgb(33,37,41);;
    color: #fff;
    border: none;
    font-size: 2rem;
}

.day-color {
    background-color: #198754;
    color: #fff;
}
