<div class="container">

	<div class="row">
		<div class="col">
			<nav class="navbar bg-dark tmenu">
        <a class="navbar-brand navbar-active" routerLink="/main" routerLinkActive="active"><h4><img src="/assets/Logo.png"></h4></a>
				<a class="navbar-brand nav-main" routerLink="/main" routerLinkActive="active"><h4><i class="bi bi-house-fill"></i></h4></a>
				<a class="navbar-brand nav-visit" routerLink="/makeVisit" routerLinkActive="active"><h4><i class="bi bi-clipboard2-plus-fill"></i></h4></a>
				<a class="navbar-brand nav-calendar navbar-active" routerLink="/calendar" routerLinkActive="active"><h4><i class="bi bi-calendar-range-fill"></i></h4></a>
				<a class="navbar-brand nav-admin" routerLink="/adminLogin" routerLinkActive="active"><h4><i class="bi bi-person-fill-gear"></i></h4></a>
				<a class="navbar-brand navbar-active"><h4><app-clock></app-clock></h4></a>
			</nav>
		</div>
	</div>
    <div class="row row-to-end">
      <div class="col-2 workers-list bg-dark text-center">
          <li class="list-group-item" *ngFor="let worker of workers" (click)="changeWorkerStatus(worker.id)">
            <img class="photo" [ngStyle]="{'border-color': worker.color}" [ngClass]="{'brighter': !worker.checked}" style="border: solid 4px;" src="http://3.75.172.118/photo/{{worker.photo}}"><p class="name" [ngStyle]="{'color': worker.color}">{{ worker.name }}</p>
          </li>
      </div>

      <div class="col-4">
        <app-calendar-object (sendDateEvent)="refreshVisits($event)"></app-calendar-object>
      </div>

      <div class="col">
        <ng-container *ngIf="visits == undefined">
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </ng-container>
        <ng-container *ngIf="visits != undefined && visits.length > 0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Godzina</th>
                <th scope="col">Usługa</th>
                <th scope="col">Klient</th>
                <th scope="col">Pracownik</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let visit of visits">
                <tr *ngIf="checkWorkerStatus(visit.worker.id)" [ngStyle]="{'background-color': visit.worker.color}">
                  <td>{{ visit.time }}</td>
                  <td>{{ visit.offer.name }}</td>
                  <td>{{ visit.customer.name }} {{ visit.customer.surname}}</td>
                  <td>{{ visit.worker.name }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="visits != undefined && visits.length < 1"><p class="info-table">Brak wizyt na wybrany dzień!</p></ng-container>
      </div>
    </div>
</div>