.content {
   display: grid
}

.content h1 {
   margin-top: 5rem;
   font-size: 3rem;
   margin-left: 5rem;
}

.div_buttons {
   display: grid;
   margin-top: 2rem;
   grid-template-columns: repeat(3, 1fr);
}

button { cursor: pointer; }

.text {
   font-size: 1.3rem;
}
 
.btn {
   justify-self: center;
   font-size: 1.5rem;
   border-radius: 0;
   border: 0;
   background-color: #FF7878;
   height: 2.5rem;
   padding: 1rem;
   line-height: 0rem;
   width: fit-content;
}
 
.btn:hover {
   background-color: #BBB;
}

.grey_list {
   background-color: #888;
   font-size: 2em;
   text-align: center;
   height: 50vh;
   margin: 1rem 2rem;
}

ul {
   background-color: #BBB;
   height: 37vh;
   border-radius: 1.5rem;
   margin: 0.5rem;
}

li {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   font-size: 2rem;
}